/* Common & Resets */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline-block;
}
li a{
    display: inline-block;
    color: inherit;
    text-decoration: none;
    padding: 0 1rem;
}
img{
    width: 100%;
}
h2{
    font-size: 3rem;
}
section,
footer{
    padding: 2rem 0;
}
footer{
    padding-top: 0rem;
    background-color: #2c3e50;
    color: white;
}
.star-strike{
    padding: 1rem 0;
}
.ms_btn_green{
    background-color: #1abc9c;
    border-color: #1abc9c;
    color: white;
}
/* Header */
header{
    background-color: #2c3e50;
}
nav{
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold;
}
.burger{
    font-size: 25px;
}
.menu-list{
    display: flex;
    align-items: center;
}
/* Main */
/* Jumbotron */
#jumbotron-section{
    background-color: #1abc9c;
    color: white;
    text-align: center;
}
#jumbotron-section img{
    width: 250px;
    margin-bottom: 1rem;
}
.star-strike-white i,
.star-strike-dark i
{
    font-size: 25px;
    vertical-align: middle;
    padding: 1rem 0;
}
.star-strike-white::before,
.star-strike-white::after,
.star-strike-dark::before,
.star-strike-dark::after
{
    content:"";
    height: 5px;
    width: 20%;
    max-width: 150px;
    display: inline-block;
    vertical-align: middle;
}
.star-strike-white::after,
.star-strike-white::before{
    background-color: white;
    vertical-align: middle;
}
.star-strike-dark::after,
.star-strike-dark::before{
    background-color: #333;
    vertical-align: middle;
}

.ms_container-sm{
    max-width: 600px;
    margin: 0 auto;
}
.ms_container-sm > *{
    margin-bottom: 1rem;
    font-weight: bold;
}
.ms_container-sm .skills{
    font-size: 1.2rem;
}
/* Portfolio */
#portfolio{
    color: #333;
    text-align: center;
    padding-bottom: 4rem;
}
.col img{
    border-radius: 10px;
    width: 100%;
}
.col-content{
    margin-bottom: 1rem;
}
/* About */
#about{
    background-color: #1abc9c;
    color: white;
    text-align: center;   
}
.about_container{
    width: 70%;
    margin:0 auto;
}
.about_container .col{
    text-align: left;
}
.download-button{
    padding-top: 2rem;
}
/* Contact me */
#contact-me h3,
#contact-me .star-strike-dark{
    text-align: center;
}
.contact-container{
    width: 60%;
    margin:0 auto;
}
.form-control{
    border-top-width: 0px;
    border-left-width: 0;
    border-right-width: 0;
}
/* Footer */
/* Details */
#details{
    padding: 4rem 0;
    background-color: #3a546d;
}
.container-details{
    width: 90%;
    margin: 0 auto
}
#details .col{
    text-align: center;
}
#details ul{
    position: relative;
}
#details li{
    width: 50px;
    height: 50px;
    border:1px solid white;
    border-radius: 50%;
    margin: 10px 5px 5px 0px;
    position: relative;
}
#details li a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#details .col:last-child a{
    color: #1abc9c;
    text-decoration: none;
}
/* Copyright */
#copyright{
    text-align: center;
    padding-bottom: 1rem;
}
