/* Common & Resets */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a{
    color: inherit;
    text-decoration: none;
    padding: 0 1rem;
}
/* Header */
header{
    background-color: #2c3e50;
}
nav{
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold;
}
.burger{
    font-size: 25px;
}
.right-nav{
}
.menu-list{
    display: flex;
    align-items: center;
}
