/* Common & Resets */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li a{
    color: inherit;
    text-decoration: none;
    padding: 0 1rem;
}
img{
    width: 100%;
}
/* Header */
header{
    background-color: #2c3e50;
}
nav{
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold;
}
.burger{
    font-size: 25px;
}
.menu-list{
    display: flex;
    align-items: center;
}
/* Main */
/* Jumbotron */
#jumbotron-section{
    background-color: #1abc9c;
    color: white;
    text-align: center;
    padding: 2rem 0;
}
#jumbotron-section img{
    width: 50%;
}
.ms_container-sm{
    max-width: 600px;
    margin: 0 auto;
}
.ms_container-sm > *{
    margin-bottom: 1rem;
    font-weight: bold;
}
.ms_container-sm h2{
    font-size: 40px;
}
.ms_container-sm .skills{
    font-size: 1.2rem;
}
